body{
    height: 1500px;
    font-family: 'Poppins', sans-serif;
    background: url(img/aes9.jpg);
    background-size: cover;
}


#contisi1, #contisi2, #contisi3, #contisi4, #navb1, .cj, .featured, .pricing {
    font-family: 'Poppins', sans-serif;
}

#contisi1 {
    margin-top: 100px;
    background: url(img/home-banner-bg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

#crd1, #crd2, #crd3 {
    background: url(img/aes13.jpg);
    background-size: cover;
}


#crd4, #crd5, #crd6 {
    background: url(img/aes1.jpg);
    background-size: cover;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.5);
}

#edu1 {
    width: 516px;
    height: 313px;
    margin-bottom: 50px;
    margin-top: 100px;
    float: right;
    margin-right: 50px;
}

#jumbo1 {
    background-color: transparent;
    background: url(img/chess.jpeg);
}

.vertikal1{
    border-left: 1px #dddddd solid;
    height: 70px;
    width: 0px;
}

.vertikal2{
    border-left: 1px #dddddd solid;
    height: 70px;
    width: 0px;
}

.vertikal3{
    border-left: 1px #dddddd solid;
    height: 70px;
    width: 0px;
}

.vertikal4{
    border-left: 1px #dddddd solid;
    height: 70px;
    width: 0px;
}

#footer{
    background-color: rgb(8, 8, 8);
}
#footer h5{
    font-weight: bold;
    color:#fff;
}
#footer .text-secondary{
    font-size: 15px;
} 