#konten1{
    height: 550px;
    background:url(img/home-banner-bg.jpg);
    background-size: 118%;
    background-repeat: no-repeat;
    
}
#konten_2{
 
    background-color:#fff;
}
.card{
    border:none;
    border-right: 1px solid #dddd;
}
.konten22{
        box-shadow: 3px 5px 15px 0px #000;
        margin-top: -20px;
        /* border-radius: 20px; */
}
